.hamb-logo {
    display: none;
}

.trigger-input {
    display: none;
}

@media screen and (max-width: 768px) {
    nav, #hero {
        flex-wrap: wrap;
    }
    
    .trigger-input:not(:checked) ~ .trigger-wrapper {
        display: none;
    }
    
    .hamb-logo {
        display: flex;
    }
}

body {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #f8e994;
}

.nav-list {
    display: flex;
    list-style-type: none;
    font-family: Verdana;
    font-size: 15px;
}

.nav-logo {
    font-family: Verdana;
    font-size: 20px;
    font-weight: bold;
}

.nav-logo, .nav-list a {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    color: black;
    text-decoration: none;
}

#hero {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f8e994;
}

.hero-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana;
    background-color: #f8e994;
}

.lb-button {
    background-color:#00c4ff;
    border-radius:28px;
    border:1px solid #00c4ff;
    width: 150px;
    cursor:pointer;
    color:#ffffff;
    font-family:Verdana;
    font-size:15px;
    padding:15px 20px;
    text-decoration:none;
    text-align: center;
}

.lb-button:hover {
	background-color:#00a6ff;
}
.lb-button:active {
	position:relative;
	top:1px;
}

.history-title {
    display: flex;
    justify-content: center;
    font-family: Verdana;
    font-size: 20px;
}

.history-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.history-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-left: 5px solid rgb(29, 183, 221);
    flex: 1;
}

.history-column-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-right: 5px solid rgb(176, 29, 221);
    flex: 1;
}

.history-column-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-left: 5px solid rgb(221, 106, 29);
    flex: 1;
}

.history-double-column {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.history-year {
    font-family: Verdana;
    font-size: 40px;
    font-weight: bold;
    padding: 5px;
}

.history-subtitle {
    font-family: Verdana;
    font-size: 25px;
    font-weight: bold;
}

.history-double-column p {
    font-family: Verdana;
    font-size: 15px;
}

#videos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #08f;
    
}
.videos-box {
    background-color: #08f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.videos-box h2 {
    color: white;
    font-family: Verdana;
    font-weight: bold;
}

.pink-button {
	background:linear-gradient(to bottom, #d64040 5%, #e3992b 100%);
	background-color:#d64040;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:15px;
	padding:16px 31px;
	text-decoration:none;
}
.pink-button:hover {
	background:linear-gradient(to bottom, #e3992b 5%, #d64040 100%);
	background-color:#e3992b;
}
.pink-button:active {
	position:relative;
	top:1px;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact h2 {
    font-family: Verdana;
    font-weight: bold;
    color: #00c4ff;
}

.contact-box form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-textbox {
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 12px 20px;
    margin: 5px;
    width: 450px;
    font-family: Verdana;
    font-size: 15px;
}

.form-textarea {
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 12px 20px;
    margin: 5px;
    width: 450px;
    height: 100px;
    font-family: Verdana;
    font-size: 15px;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: rgb(53, 53, 53);
    color: white;
    font-family: Verdana;
}

.topHeader {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #fff;
    box-shadow: 0 10px 6px -6px #777;
    transition: all 0.2s linear;
}